@charset "UTF-8";

.joincontainer{
	margin:0 auto;
	width:1500px;
	height:1300px;
}

.joincontainer>form{
	width:300px;
	margin:0 auto;
}

#btn-check{
	width:300px;
	margin-top:5px;
	
}
.joincontainer>#btn-join{
	width:300px;
	text-align:center;
	margin-left:600px;
}

.row{
	margin-bottom:5px;
}

#id_check{
	text-align:center;
	font-size:18px;
}

#find-addr{
	margin-top:-7px;
}

.form-group{
	margin-bottom:5px;
}

