@charset "UTF-8";
.container{
	height:120%;
}
.select_pet{
	text-align: center;
}
.card{
	width:280px;
	float: left;
	margin: 20px 20px;
}
#page{
	clear: both;
	margin: 0 auto;
}
a{
	color:black;
	text-decoration:none;
}