@charset "UTF-8";
.container{
	height:120%;
}
.btndiv{
	width:1200px;
	margin:0 auto;
}

#btn-group{
	margin:0 auto;
	width:200px;


}
.card{
	width:280px;
	float: left;
	margin: 20px 20px;
}
#page{
	clear: both;
	margin: 0 auto;
}